<app-loading *ngIf="loadingArtista"></app-loading>

<div class="row animated fadeIn" *ngIf="!loadingArtista">
    <div class="col-2">
        <img class="img-thumbnail img-circle" [src]="artista.images | noimage" alt="">
    </div>
    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blanck">Ir a la pagina del artista</a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button class="btn btn-outline-danger" routerLink="/search"> Regresar </button>
    </div>
</div>

<div class="row my-5">
    <div class="col">
        <table class="table text-white">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tracks of topTracks">
                    <td>
                        <img class="img-thumb" [src]="tracks.album.images | noimage">
                    </td>
                    <td>{{tracks.album.name}}</td>
                    <td>{{tracks.name}}</td>
                    <td>
                        
                        <iframe [src]="tracks.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        
                        <!-- <audio [src]="tracks.preview_url" controls></audio> -->

                        <!-- <audio [src]="tracks.uri | domseguro:'https://open.spotify.com/embed?uri='" controls></audio> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>