<div class="row">
    <div class="col">
        <h1>*ngIf</h1> <hr>

        <div class="card text-white bg-primary mb-3" *ngIf="mostrar" style="max-width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Autor: {{frase.autor}}</h5>
                <a class="card-title">{{frase.mensage}}</a>
                <p class="card-text"></p>
            </div>
        </div>

        <button class="btn btn-outline-danger btn-  block" (click)=" mostrar =! mostrar" >mostrar/ocultar</button>
    </div>
    <div class="col">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let p of personajes; let i = index">{{i+1}} - {{p}}</li>
          </ul>
    </div>
</div>